<div
  class="signup py-20 min-h-screen flex justify-center items-center flex-col"
>
  <div class="max-w-lg">
    <h1 class="text-center font-semibold text-[40px] text-text-100">
      Create Your Account
    </h1>
    <p class="text-center mt-2">Connect and Chat with anyone, anywhere</p>

    <div
      class="flex justify-center items-center flex-col sm:flex-row mt-5 mb-7 gap-4"
    >
      <button
        type="button"
        title="login with google"
        class="btn secondary w-full sm:w-auto"
        (click)="onSignUpWithGoogle()"
      >
        <span class="flex gap-3 items-center">
          <img src="./assets/google.svg" class="w-7 h-7" alt="google" />Signup
          with google
        </span>
      </button>
      <button
        type="button"
        title="login with facebook"
        class="btn secondary w-full sm:w-auto"
        (click)="onSignUpWithFb()"
      >
        <span class="flex gap-3 items-center">
          <img
            src="./assets/facebook.svg"
            class="w-7 h-7"
            alt="facebook"
          />Signup with facebook
        </span>
      </button>
    </div>

    <form (ngSubmit)="onSubmit()">
      <input
        required
        type="displayName"
        name="displayName"
        id="displayName"
        placeholder="Enter your username"
        class="bg-bg-primary-200 block w-full py-3 px-4 mt-4 rounded-lg outline-none border-bg-primary-200 border transition-all duration-300 focus-within:border-primary-100"
        [(ngModel)]="formData.displayName"
      />
      <input
        required
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email"
        class="bg-bg-primary-200 block w-full py-3 px-4 mt-4 rounded-lg outline-none border-bg-primary-200 border transition-all duration-300 focus-within:border-primary-100"
        [(ngModel)]="formData.email"
      />
      <div class="relative mt-4">
        <img
          [src]="isEyeOpen ? './assets/eyeOn.svg' : './assets/eyeOff.svg'"
          alt="eyeOn"
          (click)="isEyeOpen = !isEyeOpen"
          class="absolute top-1/2 -translate-y-1/2 right-4 cursor-pointer"
        />

        <input
          required
          [type]="isEyeOpen ? 'text' : 'password'"
          name="password"
          id="password"
          placeholder="Enter your password"
          class="bg-bg-primary-200 block w-full py-3 px-4 rounded-lg outline-none border-bg-primary-200 border transition-all duration-300 focus-within:border-primary-100"
          [(ngModel)]="formData.password"
        />
      </div>
      <div class="relative mt-4">
        <img
          [src]="isEyeOpen2 ? './assets/eyeOn.svg' : './assets/eyeOff.svg'"
          alt="eyeOn"
          (click)="isEyeOpen2 = !isEyeOpen2"
          class="absolute top-1/2 -translate-y-1/2 right-4 cursor-pointer"
        />

        <input
          required
          [type]="isEyeOpen2 ? 'text' : 'password'"
          name="againPassword"
          id="againPassword"
          placeholder="Enter your password again"
          class="bg-bg-primary-200 block w-full py-3 px-4 rounded-lg outline-none border-bg-primary-200 border transition-all duration-300 focus-within:border-primary-100"
          [(ngModel)]="formData.againPassword"
        />
      </div>

      <p
        *ngIf="validationError"
        class="text-sm font-semibold mt-3 text-red-500"
      >
        {{ validationError }}
      </p>

      <div class="mt-6">
        <button
          type="submit"
          class="btn w-full font-semibold"
          [ngClass]="{ 'animate-pulse': isLoading }"
        >
          {{ isLoading ? "Creating" : "Create Your Account" }}
        </button>
      </div>
    </form>
    <div class="text-center mt-2">
      <p>
        Already have account?
        <a routerLink="/login" class="text-primary-100 underline">Login</a>
      </p>
    </div>
  </div>
</div>
