<div class="search">
  <form
    class="flex bg-bg-primary-200 px-5 rounded-[99px] overflow-hidden group border border-transparent focus-within:border-primary-100 transition-all duration-300"
    (ngSubmit)="onSubmit()"
  >
    <input
      title="Search by name"
      type="text"
      id="searchInput"
      name="searchTerm"
      class="py-2.5 block w-full flex-1 bg-transparent outline-none border-none"
      placeholder="Search"
      [(ngModel)]="searchTerm"
      (input)="onSearchChange()"
    />
    <button type="submit">
      <img src="./assets/search.svg" alt="search" class="w-5" />
    </button>
  </form>
</div>
